.navigation {
  display: flex;
  padding: 30px;
  gap: 40px;
  border-bottom: 2px solid black;
}

.link {
  font-size: 20px;
  padding: 10px 15px;
  text-decoration: underline;
  color: darkblue;
}

.active {
  border-color: orangered;
  text-decoration: none;
  color: orangered;
  border-bottom: none;
}
